# Django Backend URL
VITE_DJANGO_BACKEND_URL=http://localhost:8000

# WebSocket URL
VITE_WEBSOCKET_URL=ws://localhost:8000

# Sentry DSN
VITE_SENTRY_DSN=dsn
VITE_SENTRY_ORG=organization_nam
VITE_SENTRY_PROJECT=project_name
VITE_SENTRY_AUTH_TOKEN=auth_token

VITE_SOCRATIC_BOOKS_URL=http://localhost:5174